/*font*/
@font-face {
  font-family: 'alegreya';
  src: url(../font/alegreya-italic-webfont.woff) format('woff');
}


/*Style*/
body {
  font: 18/38 'alegreya',serif;
 
}
.judul {
  color: white;
  text-shadow: 3px 3px 5px black;
  text-align: center;
  margin: 10px 0;
  font-size: 50px;
  font-weight: bold;
}

.container {
  background-color: rgb(255,255,255);
  width: 555px;
  margin: auto;
  box-shadow: 0 0 2px 3px rgba(0,0,0,0.691);
  border-radius: 5px;
}
ul li {
    list-style-type: none;
}
.galeri li {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 4px solid #aaa;
  float: left;
  position: relative;
  margin: 15px;
}

.galeri li,
.galeri li p {
  border-radius: 50%;
}

.galeri li p {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(200,200,200,.8);
  overflow: hidden;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 100px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transition: 0.3s;
}

.galeri li a:hover p {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/*Overlay*/
.overlay {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  display: none;
  transition: 0.3s;
  text-align: center;
  padding: 120px;
  list-style-type: none;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  background-color: rgba(0,0,0,.6);
}

.overlay img {
  border: 2px solid rgba(255,255,255,.4);
  max-width: 100%;
}

.overlay:target img, span a {
  Animation: ZoomDanFade 2s; 
}

span a {
  text-decoration: none;
  font-size: 3em;
}





/*Animation*/
@keyframes ZoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}